[Unit]
Description=Auto - Mounter service
Before=docker.service
After=multi-user.target


[Service]
Type=oneshot
ExecStart=/usr/local/bin/auto-mounter.sh

[Install]
WantedBy=multi-user.target
