[Unit]
Description=Auto - Mounter service
After=multi-user.target


[Service]
Type=oneshot
ExecStart=/etc/auto-mounter/auto-mounter.sh

[Install]
WantedBy=multi-user.target
