[Unit]
Description=Run Auto - Mounter Script Every 5 Minutes
After=multi-user.target

[Timer]
OnBootSec=yes
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
